* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1f1c18;
    color: #fff;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.container {
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}